.topnav {
  background-color: #BAD6EB;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #0F2C59;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0F2C59;
  color: #f7f2eB;
}

.topnav a.active {
  background-color: #0F2C59;
  color: #f7f2eB;
  font-weight: bold;
}

/* the code above is credited to W3 schools https://www.w3schools.com/css/css_navbar.asp*/

h1 {
  text-align: center;
}

body {
  padding-left: 2em;
  padding-right: 2em;
  background-color: #f7f2eB;
}

.reference {
  text-align: left;
  font-size: 12px;
}

table, th, td {
  border: 1px solid black;
}

img {
  max-width: 600px;
  height: auto;
}

.edited {
  max-width: 200px;
}

video {
  max-width: 25%;
}

.accessibility {
  max-width: 300px;
}
